<div class="container" style="background-color: gray;">
    <div class="row">
        <table class="table">
            <thead style="background-color: orange;">
                <tr>
                    <th scope="col">EAN</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Detalle del producto</th>
                    <th scope="col">Precio €</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Añadir Cesta</th>
                </tr>
            </thead>
            <tbody>
                {{#each this.listaProductos as |producto|}}
                    {{> _VistaFilaProducto producto}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script src="../../public/js/botonMenos.js"></script>
<script src="../../public/js/botonMas.js"></script>
<script src="../../public/js/botonComprar.js"></script>
<script src="../../public/js/checkPedidosStorage.js"></script>
<script>    
    /**
    *  esta vista se incrusta en el mismo layout, por eso tenemos acceso al DOM del layout
    */
    function _pintarDatosMiniCesta(nombre, cantidad, precio) {
        $('#itemsMiniCesta').append(`<tr>
            <td>${nombre}</td>
            <td>${cantidad}</td>
            <td>${precio}</td>
            <td><strong>X</strong></td>
            </tr>`)
    }      
</script>