
<tr>
    <td>{{this.nombre}}</td>
    <td><a href="http://localhost:44309/Tienda/MostrarProducto/{{this.ean}}" class="btn btn-outline-danger btn-sm">Detalle del producto</a></td>
    <td>{{this.cantidad}}</td>
    <td>{{this.precio}}</td>
</tr>
